# lembre de colocar o nome da pasta sem o ponto na frente
# Para ignorar todos arquivos e sub-pastas localizados na pasta metadata/plugins/
metadata/plugins/nome-do-plugin

# ignora os arquivos com extensões 
.gitignore
# ignora quaisquer diretórios chamados "metadata"
.metadata/
.recommenders/